@charset "UTF-8";

table {
	width: 800px;
	margin: 0 auto;
	border: 2px solid black;
	border-collapse: collapse;
}

th {
	background-color: black;
	color: white;
}
td{
	text-align: center;
}

.tablea tr:nth-child(2n) {
	background-color: hotpink;
}
.tablea tr:hover {
	background-color: aqua;
	font-weight: bold;
	font-size: 110%;
} 